#mentorText {
  background-color: #9DD8F7;
  border-radius: 0.938em;
  padding: 0.313em 1.250em;
  font-family: "Raleway Light";
  max-height: 50vh;
  overflow: overlay;
}

#mentor img {
  position: absolute;
  height: 40vh;
}

#computer img {
  margin-left: 40vw;
}
