<div class="app-wrapper">
  <h1>{{title}}</h1>

  <main>
    <section id="sectionForMentor">
      <mentor-component></mentor-component>
    </section>
    <section id="sectionForComputer">
      <section id="sectionForTerminals">
        <ace-output-component></ace-output-component>
        <div [hidden]='game.btnRunHidden' id="run" class="button">
          <div class="outer">
            <div class="height">
              <div class="inner" (click)="game.validateCode()">{{btnRun}}</div>
            </div>
          </div>
        </div>
        <div [hidden]='game.btnNextHidden' id="next" class="button">
          <div class="outer">
            <div class="height">
              <div class="inner" (click)="game.goToNextTask()">{{btnNext}}</div>
            </div>
          </div>
        </div>
        <ace-input-component></ace-input-component>
      </section>
    </section>
  </main>
</div>
