@import "app.buttons.css";

h2 {
  font-family: "Tahoma";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.app-wrapper {
  margin-top: 6.250em;
  margin-left: 5%;
  width: 90%;
}

main {
  margin: auto;
  display: flex;
}

#sectionForMentor {
  align-self: flex-end;
  margin-right: 5%;
  width: 45%;
}

#sectionForTerminals {
  width: 55%;
}
