@import "app.buttons.css";

h2 {
  font-family: "Tahoma";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
}

.app-wrapper {
  margin: 5vh 8vw;
  height: 90vh;
  width: 84vw;
  display: flex;
  align-items: flex-end;
}

main {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#sectionForMentor {
  margin-right: 7%;
  width: 45%;
}

#sectionForTerminals {
  width: 48%;
}

#sectionForTerminals #outputpart{
  position: relative;
  background-color: #FF6633;
  border: 10px solid #FFFF66;
  border-bottom: none;
  height:30vh;
}

#sectionForTerminals #buttonpart{
  position: relative;
  background-color: #FF6633;
  border: 10px solid #FFFF66;
  border-bottom: none;
  border-top: none;
  height:15vh;
  perspective: 600px;
}

#sectionForTerminals #inputpart{
  position: relative;
  background-color: #FF6633;
  border: 10px solid #FFFF66;
  border-top: none;
  height:20vh;
}

#sectionForTerminals img {
  width: 8%;
  position: absolute;
  top: 3%;
  left: 8%;
}
