@import "app.buttons.css";

h2 {
  font-family: "Tahoma";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
}

.app-wrapper {
  margin: 5vh 8vw;
  height: 90vh;
  width: 84vw;
  display: flex;
  align-items: flex-end;
}

main {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#sectionForMentor {
  margin-right: 7%;
  width: 45%;
}

#sectionForTerminals {
  width: 48%;
}
