<div class="app-wrapper">
  <h1>{{title}}</h1>

  <main>
    <section id="sectionForMentor">
      <mentor-component></mentor-component>
    </section>
    <section id="sectionForTerminals" style="/*background-image: url('./assets/img/computer.png')*/">
      <div id="outputpart">
        <ace-output-component></ace-output-component>
      </div>
      <div id="buttonpart">
        <img src="./assets/img/Knüppel.png">
        <div [hidden]='game.btnRunHidden' id="run" class="button">
          <div class="outer">
            <div class="height">
              <div class="inner" (click)="game.validateCode()">{{btnRun}}</div>
            </div>
          </div>
        </div>
        <div [hidden]='game.btnNextHidden' id="next" class="button">
          <div class="outer">
            <div class="height">
              <div class="inner" (click)="game.goToNextTask()">{{btnNext}}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="inputpart">
        <ace-input-component></ace-input-component>
      </div>
    </section>
  </main>
</div>
